---
layout: default
title: Home
---
<div class="posts">
  {% for post in posts %}  
  <div class="post">
    <h1 class="post-title">
      {{ post.title }}
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
      <a href="{{ post.date }}">post.date</a>
  </div>     
  {{ post.content }}  
  {% endfor %}  
</div>

{% comment %}  
  {%  %}  
  {{  }}
{% endcomment %}

{% comment %}
<div class="posts">
  {{ paginator.page }}
 
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
        {{ post.title }}
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
      <a href="{{ post.date }}">post.date</a>
      <a href="{{ post.date | truncate: 10, "" }}">post.date</a>
      {% if (post.date | truncate: 10, "")  == "2021-01-29" %}
        {{ post.content }}
        {% break %}
     {% else %}
          {{ post.content }}    
     {% endif %}
     {% comment %}    
     {{ post.content }}    
   {% endcomment %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 4 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endcomment %}

{% comment %}      
    {{ "Ground control to Major Tom." | truncate: 20, "" }}
    28 Mar 2021
    <!--       
      <a href="{{ post.date }}">post.date</a>
      <a href="{{ post.url }}">post.url</a>
      <a href="{{ post.url | absolute_url }}">post.url | absolute_url</a> 
    -->
      {% if site.related_posts.size >= 1 %}
        <div>
        <h3>Related Posts</h3>
        <ul>
         {% for related_post in site.related_posts limit: 5 %}
            <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
          {% endfor %}
        </ul>
        </div>
     {% endif %}

    <a href="{{ site.url }}">Next</a> 
    {% post.url | absolute_url | link_to %}
{% endcomment %}

